*,
*::after,
*::before{
	box-sizing: border-box;
}

ul{
	margin: 0;
	list-style: none;
	li{
		padding-left: 0;
	}

}

a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #131313;
}

.container{
	max-width: 1220px; //было 1200, но 20 добавил из-за паддингов по краям
	margin: 0 auto;
	padding: 0 10px; //не прилипай по краям, живи мирно, вот те десятка
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu{
	margin-right: 70px;
}

.menu__list{
	display: flex;
}

.menu__item + .menu__item{
	padding-left: 10px;
}

.menu__link{
	text-transform: uppercase;
	padding: 43px 20px;
	transition: all .3s;
}

.menu__link:hover{ //то есть он находит и применяет только когда сосед такой же
	background-color: #131313;
	color: #fff;
}

.bike{
	padding: 100px 0 150px;
}

.bike__inner{
	display: flex;
	justify-content: space-between;
}

.bike__column-slider{
	flex-basis: 630px; //это как width но для флексов
	margin-left: 30px;
	max-width: 630px; // это для библиотеки слайда
}

.bike__title{
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
	margin: 60px 0 5px;
}

.bike__subtitle{
	margin: 0 0 60px;
	color: #6F6F6F;
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;
}

.bike__text{
	margin-bottom: 20px;
	max-width: 420px;
}

.bike__link{
	margin-top: 80px; //учитывай схлопывание марджином, когда больший только учитывается
	display: inline-block; //потому что ссылки изначально строчные
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.1em;
	text-transform: uppercase;
	color: #fff;
	background-color: #131313;
	padding: 28px 81px;
	transition: all .3s;
}

.bike__link:hover{
	background-color: #FF4040;
}

.bike-slider__item{
	cursor:grab;
}

//понеслась для слайдера

.bike-slider{
	.slick-dots{
		right: 0;
		top: 52px;
	}
}

.slick-dots{
	position: absolute; //но рэлатив уже задан внутри библиотеки
}

.slick-dots li + li{
	padding-top: 10px;
}

.slick-dots button{
	font-size: 0;
	padding: 0;
	border: none;
	background-color: #131313;
	width: 2px;
	height: 25px;
	border-radius: 7px;
	cursor: pointer;
	transition: all .3s;
}
.slick-dots button:hover,
.slick-active button{
	background-color: #FF4040;
}

.bike__list{
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

.bike__list-item{
	display: flex;
	flex-direction: column;
	min-width: 160px;
	align-items: center;
	text-align: center;
	min-height: 58px;

	.bike__list-num{
		font-weight: 700;
		text-transform: uppercase;	
	}

	.bike__list-text{
		margin-top: 5px;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		margin: auto 0;
	}
}

.info{
	padding-bottom: 150px;
}

.info__inner{
	display: flex;
}

.info__img{
	margin-right: 60px;
	flex-basis: 570px;
	object-fit: cover; //чтобы норм растягивалось
}

.info__list{
	flex-basis: 490px;
}

.info__item + .info__item{
	padding-top: 50px;
}

.info__item-title{
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.info__item-text{
	max-width: 450px;
}